//  //  //  //  //  //  //  //  //
// Across all headers
//  //  //  //  //  //  //  //  //

.header-content {
    max-height: 64px;
}

//  //  //  //  //  //  //  //  //
// Main header
//  //  //  //  //  //  //  //  //

#main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
}

#main-header-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover #main-header-image {
        cursor: pointer;
        transform: rotate(360deg);
    }

    &:hover #main-header-left {
        right: 0;
    }

    &:hover #main-header-right {
        left: 0;
    }
    
    &:hover .main-header-nav-wrapper {
        width: 256px;
    }
}

#main-header-image {
    border-radius: 50%;
    transition: transform 1.1s ease-in-out;
}

.main-header-nav-wrapper {
    position: relative;
    overflow: hidden;
    width: 0px;
    height: 48px;
    transition: width 1.1s ease-in-out;
}

.main-header-nav {
    position: absolute;
    width: 256px;
    height: 100%;
    background: red;
    transition: 1.1s ease-in-out;
}