@use "sass:map";
@use "csslib/imports" as *;

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
}

header {
    z-index: 100;

    @include themed() {
        background: c(p3);
    }
}

h1 {
    transition: all 1.1s ease-in-out;
    font-size: 72px;

    @include themed() {
        color: c(n5);
    }

    @include bp(map.get($bp, sm)) {
        font-size: 108px;
    }
}

h2 {
    transition: all 1.1s ease-in-out;
    font-size: 56px;

    @include themed() {
        color: c(n4);
    }

    @include bp(map.get($bp, sm)) {
        font-size: 72px;
    }
}

p {
    margin: 0;
    transition: all 1.1s ease-in-out;

    @include themed() {
        color: c(n5);
    }
}

.wrapper {
    width: 100%;
    height: 100%;
    transition: all 1.1s ease-in-out;
}

.noshow {
    opacity: 0;
}