@use "sass:map";
@use "csslib/imports" as *;

html {
    overflow-x: clip;
    scroll-behavior: smooth;
}

body {
    overflow-x: clip;
    margin: 0;
}

header {
    z-index: 100;

    @include themed() {
        background: c(p3);
    }
}

h1 {
    transition: all 1.1s ease-in-out;
    font-size: 72px;
    margin: 0;

    @include themed() {
        color: c(n5);
    }

    @include bp(map.get($bp, sm)) {
        font-size: 108px;
    }
}

h2 {
    transition: all 1.1s ease-in-out;
    font-size: 56px;
    margin: 0;

    @include themed() {
        color: c(n4);
    }

    @include bp(map.get($bp, sm)) {
        font-size: 72px;
    }
}

h3 {
    transition: all 1.1s ease-in-out;
    font-size: 32px;
    margin: 0;

    @include themed() {
        color: c(n5);
    }

    @include bp(map.get($bp, sm)) {
        font-size: 48px;
    }
}

p {
    margin: 0;
    transition: all 1.1s ease-in-out;

    @include themed() {
        color: c(n5);
    }
}

a {
    text-decoration: none;
    margin: 0;
    transition: all 1.1s ease-in-out;
    cursor: pointer;
    pointer-events: auto;

    @include themed() {
        color: c(n5);

        &:hover {
            color: c(s);
        }
    }
}

.wrapper {
    width: 100%;
    height: 100%;
    transition: all 1.1s ease-in-out;
}

.noshow {
    opacity: 0;
    z-index: -1 !important;
}

::-moz-selection {
    @include themed() {
        background: c(s3);
        color: c(n3);
    }
}

::selection {
    @include themed() {
        background: c(s3);
        color: c(n3);
    }
}