@use "csslib/themes" as *;

#main {
    @include themed() {
        background: c(n);
    }
}

.intro-header {
    position: relative;
    overflow: hidden;
    height: 1000px;

    @include themed() {
        background: c(n);
    }
}

.cursor-background {
    position: absolute;
    left: -100%;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    transform: translateX(-50%) translateY(-50%);
    animation: shrink 4s ease-in-out;

    @keyframes shrink {
        0% {
            height: 100px;
            width: 100px;
        }
        100% {
            height: 0;
            width: 0;
        }
    }

    @include themed() {
        background: c(p);
        opacity: 0.3;
    }
}